.comment-form__submit-btn {
    width: 100%;
    margin: 20px 0 10px;
    height: 30px;
    background-color: #4997D0;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.comment-form__submit-btn::after {
    content: 'Оставить комментарий';
}