@import url(./__input/comment-form__input.css);
@import url(./__submit-btn/comment-form__submit-btn.css);
@import url(./error/error.css);

.comment-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: comment-form;
}

@media screen and (max-width: 600px) {
    .comment-form {
        width: calc(100% - 40px);
        justify-self: center;
    }
}
