.comments-modal__close-btn {
    background-color: rgba(255, 255, 255, 0);
    background: url(../../../../../images/Close.png) no-repeat center;
    outline: none;
    cursor: pointer;
    padding: 0;
    border: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}
