.comments-modal__img {
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 210px;
    grid-area: image;
}

@media screen and (max-width: 600px) {
    .comments-modal__img {
        max-width: 300px;
        justify-self: center;
    }
}